@mixin centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spaceBtwn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin spaceEven {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin spaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin spaceAroundTop {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

@mixin spaceBtwnBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin alignBottom {
  display: flex;
  align-items: flex-end;
}

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}

@mixin centerLeftDiv {
  display: flex;
  align-items: center;
  justify-content: end;
}

@mixin justifyStart {
  display: flex;
  align-items: center;
  justify-content: start;
}
