@mixin centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spaceBtwn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}
