@use '../abstracts/' as *;
@use '../components/' as *;
@use '../utility/breakpoints' as *;

.car-tags {
  &--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
  }

  &--car {
    border: 1px solid getColor(neutral, 50);
    border-radius: 1rem;

    &-title {
      border-bottom: 1px solid getColor(neutral, 100);
    }

    &-subtitle {
      padding-top: 0.8rem;
    }

    &-container {
      padding: 1rem;

      img {
        border-radius: 0.5rem;
        aspect-ratio: 18/11;
      }
    }
  }
}
