@use '../abstracts/' as *;
@use '../components/' as *;
@use '../utility/breakpoints' as *;

.car-brands {
  padding-top: 3.8rem;

  &--container {
    @include spaceAround;
    flex-wrap: wrap;

    img {
      margin: 1.5rem 3rem;
      height: 7rem;
      object-fit: contain;
    }
  }
}
