@use '../abstracts/' as *;
@use '../components/' as *;
@use '../utility/breakpoints' as *;

.navbar {
  background-color: getColor(neutral, 000);
  padding-block: 1rem;

  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;

  &--container {
    @include spaceBtwnBottom;
  }

  &--left {
    @include alignBottom;
    gap: 0.8rem;
  }

  &--logo-container {
    height: 4.1rem;
  }

  &--logo {
    width: 5rem;
  }

  &--mobile {
    display: none;

    @media (max-width: $breakpoint-600) {
      @include alignBottom;
      padding-bottom: 0.38rem;
      background-color: transparent;
      border: 0;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 1.8rem;
      }
    }
  }

  &--nav-pc {
    @media (max-width: $breakpoint-600) {
      display: none;
    }

    ul {
      width: 22rem;
      padding-bottom: 0.35rem;
      @include spaceBtwn;

      li {
        transition-duration: 0.15s;
        cursor: pointer;
        text-align: center;

        a {
          color: getColor(primary, 400);

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  &--nav-mobile {
    @media (max-width: $breakpoint-600) {
      position: absolute;
      display: block;
      inset: 6.7rem 0 auto 0;
      background-color: getColor(primary, 400);
      padding-block: 2.37rem;
      font-size: getFontSize(small, 400);

      ul {
        display: grid;
        gap: 1.87rem;

        li {
          transition-duration: 0.15s;
          cursor: pointer;
          text-align: center;

          a {
            color: getColor(neutral, 000);

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
