:root {
  --clr-primary-100: #eef2f6;
  --clr-primary-200: rgba(26, 55, 96, 0.7);
  --clr-primary-400: #1a3760;
  --clr-secondary-400: hsl(215, 90%, 42%);
  --clr-neutral-0: #ffffff;
  --clr-neutral-50: rgba(174, 174, 174, 0.266);
  --clr-neutral-100: rgba(174, 174, 174, 0.558);
  --clr-neutral-800: #010101;
  --clr-neutral-900: #000000;
}

.text-primary-100 {
  color: #eef2f6;
}

.text-primary-200 {
  color: rgba(26, 55, 96, 0.7);
}

.text-primary-400 {
  color: #1a3760;
}

.bg-primary-100 {
  background-color: #eef2f6;
}

.bg-primary-200 {
  background-color: rgba(26, 55, 96, 0.7);
}

.bg-primary-400 {
  background-color: #1a3760;
}

.text-secondary-400 {
  color: hsl(215, 90%, 42%);
}

.bg-secondary-400 {
  background-color: hsl(215, 90%, 42%);
}

.text-neutral-0 {
  color: #ffffff;
}

.text-neutral-50 {
  color: rgba(174, 174, 174, 0.266);
}

.text-neutral-100 {
  color: rgba(174, 174, 174, 0.558);
}

.text-neutral-800 {
  color: #010101;
}

.text-neutral-900 {
  color: #000000;
}

.bg-neutral-0 {
  background-color: #ffffff;
}

.bg-neutral-50 {
  background-color: rgba(174, 174, 174, 0.266);
}

.bg-neutral-100 {
  background-color: rgba(174, 174, 174, 0.558);
}

.bg-neutral-800 {
  background-color: #010101;
}

.bg-neutral-900 {
  background-color: #000000;
}

:root {
  --fs-200: 0.75rem;
  --fs-250: 0.82rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-650: 1.625rem;
  --fs-700: 1.875rem;
  --fs-800: 2rem;
  --fs-850: 2.5rem;
  --fs-900: 2.75rem;
  --fs-950: 3.4rem;
  --fs-700: 1.5rem;
  --fs-900: 2rem;
}

.fs-small-200 {
  font-size: 0.75rem;
}

.fs-small-250 {
  font-size: 0.82rem;
}

.fs-small-300 {
  font-size: 0.875rem;
}

.fs-small-400 {
  font-size: 1rem;
}

.fs-small-450 {
  font-size: 1.125rem;
}

.fs-small-500 {
  font-size: 1.25rem;
}

.fs-small-600 {
  font-size: 1.5rem;
}

.fs-small-650 {
  font-size: 1.625rem;
}

.fs-small-700 {
  font-size: 1.875rem;
}

.fs-small-800 {
  font-size: 2rem;
}

.fs-small-850 {
  font-size: 2.5rem;
}

.fs-small-900 {
  font-size: 2.75rem;
}

.fs-small-950 {
  font-size: 3.4rem;
}

.fs-large-700 {
  font-size: 1.5rem;
}

.fs-large-900 {
  font-size: 2rem;
}

:root {
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

.fw-thin {
  font-weight: 100;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

.fs-primary-heading {
  font-size: 2.75rem;
}

.fs-secondary-heading {
  font-size: 1.875rem;
}

:root {
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-450: 1.25rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-850: 4.5rem;
  --size-900: 5rem;
  --size-950: 6rem;
}

.padding-block-100 {
  padding-block: 0.25rem;
}

.padding-block-200 {
  padding-block: 0.5rem;
}

.padding-block-300 {
  padding-block: 0.75rem;
}

.padding-block-400 {
  padding-block: 1rem;
}

.padding-block-450 {
  padding-block: 1.25rem;
}

.padding-block-500 {
  padding-block: 1.5rem;
}

.padding-block-600 {
  padding-block: 2rem;
}

.padding-block-700 {
  padding-block: 3rem;
}

.padding-block-800 {
  padding-block: 4rem;
}

.padding-block-850 {
  padding-block: 4.5rem;
}

.padding-block-900 {
  padding-block: 5rem;
}

.padding-block-950 {
  padding-block: 6rem;
}

.margin-block-100 {
  margin-block: 0.25rem;
}

.margin-block-200 {
  margin-block: 0.5rem;
}

.margin-block-300 {
  margin-block: 0.75rem;
}

.margin-block-400 {
  margin-block: 1rem;
}

.margin-block-450 {
  margin-block: 1.25rem;
}

.margin-block-500 {
  margin-block: 1.5rem;
}

.margin-block-600 {
  margin-block: 2rem;
}

.margin-block-700 {
  margin-block: 3rem;
}

.margin-block-800 {
  margin-block: 4rem;
}

.margin-block-850 {
  margin-block: 4.5rem;
}

.margin-block-900 {
  margin-block: 5rem;
}

.margin-block-950 {
  margin-block: 6rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0.5;
  }
  0% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.focus-in-expand {
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tracking-in-expand {
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  animation: slide-in-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-top {
  animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #1a3760 !important;
  background-color: #ffffff;
}

.main-subheading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.square-button {
  border: 0;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  color: #1a3760;
  font-size: 1.125rem;
  font-weight: 500;
}

.round-button {
  border-radius: 0.5rem;
  border: 0;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  color: #1a3760;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s;
}

.year-button {
  color: rgba(174, 174, 174, 0.558);
  cursor: pointer;
  border-radius: 100vmax;
  background-color: #1a3760;
}

.no-style-button {
  background-color: transparent;
  border: 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
  row-gap: 1.8rem;
  padding-bottom: 1.8rem;
}

.no-marker {
  list-style-type: none;
  padding-left: 0;
}

.large-container {
  --max-width: 1300px;
  --padding: clamp(1rem, 5vw, 3rem);
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.small-container {
  --max-width: 1200px;
  --padding: clamp(1rem, 5vw, 3rem);
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow * + * {
  margin-top: var(--flow-spacer, 2em);
}

.two-columns {
  display: grid;
  gap: 5rem;
}

@media (min-width: 50em) {
  .two-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .two-columns img {
    margin: auto;
  }
}
@media (max-width: 50em) {
  .two-columns {
    gap: 3rem;
  }
}
@media (max-width: 50em) {
  .small-reverse-order {
    order: -1;
  }
}
.center-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navbar {
  background-color: #ffffff;
  padding-block: 1rem;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(174, 174, 174, 0.266);
}
.navbar--container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar--left {
  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
}
.navbar--logo-container {
  height: 4.1rem;
}
.navbar--logo {
  width: 5rem;
}
.navbar--mobile {
  display: none;
}
@media (max-width: 50em) {
  .navbar--mobile {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.38rem;
    background-color: transparent;
    border: 0;
  }
  .navbar--mobile:hover {
    cursor: pointer;
  }
  .navbar--mobile img {
    width: 1.8rem;
  }
}
@media (max-width: 50em) {
  .navbar--nav-pc {
    display: none;
  }
}
.navbar--nav-pc ul {
  width: 22rem;
  padding-bottom: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--nav-pc ul li {
  transition-duration: 0.15s;
  cursor: pointer;
  text-align: center;
}
.navbar--nav-pc ul li a {
  color: #1a3760;
}
.navbar--nav-pc ul li a:hover {
  opacity: 0.7;
}
@media (max-width: 50em) {
  .navbar--nav-mobile {
    position: absolute;
    display: block;
    inset: 6.1rem 0 auto 0;
    background-color: #1a3760;
    padding-block: 2.37rem;
    font-size: 1rem;
  }
  .navbar--nav-mobile ul {
    display: grid;
    gap: 1.87rem;
  }
  .navbar--nav-mobile ul li {
    transition-duration: 0.15s;
    cursor: pointer;
    text-align: center;
  }
  .navbar--nav-mobile ul li a {
    color: #ffffff;
  }
  .navbar--nav-mobile ul li a:hover {
    opacity: 0.7;
  }
}

.main-heading {
  padding-top: 6.2rem;
}
.main-heading--background-image {
  position: relative;
  width: min(100%, 1300px);
  margin-inline: auto;
}
.main-heading--background-image img {
  width: min(100%, 1300px);
  margin-inline: auto;
  filter: brightness(60%);
  transition: border-radius 1s ease-in-out, margin-top 0.5s ease-in-out;
}
@media (min-width: 1300px) {
  .main-heading--background-image img {
    border-radius: 0.8rem;
    margin-top: 2.5rem;
  }
}
.main-heading--content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #ffffff;
}
.main-heading--content h2 {
  font-size: 6.7vw;
  height: 8.3vw;
}
.main-heading--content h3 {
  font-size: 8.3vw;
  height: 13.3vw;
}
@media (min-width: 60em) {
  .main-heading--content h2 {
    font-size: 4rem;
    height: 5rem;
  }
  .main-heading--content h3 {
    font-size: 5rem;
    height: 8rem;
  }
}
.main-heading--button:hover {
  background-color: #1a3760;
  color: #ffffff;
}
@media (max-width: 60em) {
  .main-heading--button {
    font-size: 1rem;
    padding: clamp(0.2rem, 5vw, 0.4rem) clamp(0.8rem, 5vw, 1.1rem);
  }
}

.footer--container {
  border-radius: 1rem;
  margin-inline: auto;
}
.footer--title {
  text-align: center;
  border-bottom: 1px solid rgba(174, 174, 174, 0.558);
}
.footer--tags {
  padding-inline: 2rem;
  padding-bottom: 2rem;
}
.footer--socials {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}
.footer--social-icons {
  width: 3rem;
  height: 3rem;
  fill: #1a3760;
  margin-inline: 0.8rem;
}
.footer--social-icons:is(:hover, :active, :focus) {
  opacity: 0.7;
}
.footer--links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer--info {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 44.625em) {
  .footer--info {
    display: block;
    width: min(19.5rem, 100% - 2rem);
    margin-inline: auto;
  }
}
.footer--info h2 {
  font-size: 1.125rem;
  padding-block: 1.5rem;
}
.footer--detail {
  font-size: 1rem;
  color: rgba(26, 55, 96, 0.7);
  line-height: 1.7;
}
.footer--copyright {
  padding-bottom: 2rem;
  text-align: center;
}

.car-brands {
  padding-top: 3.8rem;
}
.car-brands--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.car-brands--container img {
  margin: 1.5rem 3rem;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.car-tags--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 3rem;
}
.car-tags--car {
  border: 1px solid rgba(174, 174, 174, 0.266);
  border-radius: 1rem;
}
.car-tags--car-title {
  border-bottom: 1px solid rgba(174, 174, 174, 0.558);
}
.car-tags--car-subtitle {
  padding-top: 0.8rem;
}
.car-tags--car-container {
  padding: 1rem;
}
.car-tags--car-container img {
  border-radius: 0.5rem;
  aspect-ratio: 3/2;
}/*# sourceMappingURL=main.css.map */