$colors: (
  primary: (
    100: #eef2f6,
    200: rgba(26, 55, 96, 0.7),
    400: #1a3760,
  ),
  secondary: (
    400: hsl(215, 90%, 42%),
  ),
  accent: (),
  neutral: (
    000: #ffffff,
    50: rgba(174, 174, 174, 0.266),
    100: rgba(174, 174, 174, 0.558),
    800: #010101,
    900: #000000,
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: $value;
    }
  }
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: $value;
    }
  }
}
