---
import '../styles/main.css';

import Layout from '../layouts/Layout.astro';

import Home from '../react/layouts/home/Home';
---

<Layout title="Style Nation">
  <Home client:load />
  <section class="padding-block-800"></section>
</Layout>
